ol{
    text-decoration: underline;
}
ul{
    text-decoration: line-through;
    color: blueviolet;
}
a{
    text-decoration: dotted;
    text-align: center;
}
table{
    background-color: red;
    outline-style: solid;
    outline-color: black;
}
tr{
    background-color: green;
    outline-style: solid;
    outline-color: blue;
}
th{
    background-color: aqua;
}
td{
    background-color: blue;
    outline-style: solid;
    outline-color: green;;
}